<div class="component-container overflow-auto">
    <div class="container-fluid p-0 d-flex min-vh-100">
        <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white offcanvas-md offcanvas-start">
            <div class="sidebar-header text-center">
                <span class="fs-5 d-sm-inline"><img src="./assets/images/CSMLOGO.jpg" style="object-fit: cover"
                        height="70px" class="card-img-top rounded rounded-pill" /></span>
            </div>
            <hr />
            <ul class="mynav nav nav-pills flex-column mb-auto" id="menu">
                <li *ngFor="let module of moduleList" class="">
                    <a href="#{{ module.moduleId }}" data-bs-toggle="collapse"
                        class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink"
                        (click)="getSubModuleByModuleId(module.moduleId)">
                        <img src="./assets/images/{{module.logo}}" class="rounded-circle"
                            style="width: 35px; height: 35px;" alt="">
                        <span class="ms-1 d-sm-inline">{{
                            module.moduleName | titlecase
                            }}</span>
                    </a>

                    <ul class="collapse" id="{{ module.moduleId }}" data-bs-parent="#menu" style="cursor: pointer;">
                        <li *ngFor="let subModule of subModuleList" class="w-100">
                            <a (click)="onSubModuleClick(subModule.submoduleId)" class="nav-link">
                                <span class="d-sm-inline">{{
                                    subModule.submoduleName
                                    }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr />
            <div class="d-flex">
                <span>
                    <h6 class="mt-1 mb-0">&copy; Learning Management System</h6>
                </span>
            </div>
        </div>

        <div class="flex-fill">
            <div class="p-2 d-md-none d-flex gap-3 text-white text-bg-primary justify-content-between">
                <div>
                    <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <span class="ms-3">LMS</span>
                </div>
                <div class="d-flex gap-5">
                    <li class="nav-item dropdown active" style="list-style-type: none;">
                        <a class="nav-link " href="#" id="profileDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkxPRMT2ZiDmW3aKQyLV_x-qYAwsNYY1XG2W0m5YE-2Q&s"
                                width="30" height="30" class="rounded-circle" alt="Profile Picture" />
                            <span class="d-none d-sm-inline mx-1" style="
                                padding-right: 20px;
                                max-width: 100px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              ">{{ userName }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li>
                                <button class="dropdown-item profile-anchor" data-bs-toggle="modal"
                                    data-bs-target="#profileModal">
                                    My Profile
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item profile-anchor" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Change Password
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item active" style="list-style-type: none;">
                        <button class="nav-link" (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </button>
                    </li>
                </div>
            </div>

            <div class="">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link gap-5">
                                        <span class="h4 font-weight-bold" style="color: #108fbb">Learning Management
                                            System</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav ms-auto">
                                <li class="nav-item active">
                                    <span class="nav-link text-primary">
                                        {{ currentTime | date : "medium" }}
                                    </span>
                                </li>
                                <li class="nav-item dropdown active">
                                    <a class="nav-link " href="#" id="profileDropdown" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkxPRMT2ZiDmW3aKQyLV_x-qYAwsNYY1XG2W0m5YE-2Q&s"
                                            width="30" height="30" class="rounded-circle" alt="Profile Picture" />
                                        <span class="d-none d-sm-inline mx-1" style="
                            padding-right: 20px;
                            max-width: 100px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          ">{{ userName }}</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                        <li>
                                            <button class="dropdown-item profile-anchor" data-bs-toggle="modal"
                                                data-bs-target="#profileModal">
                                                My Profile
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item profile-anchor" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                Change Password
                                            </button>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item active">
                                    <button class="nav-link" (click)="logout()">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================================== -->
<!-- Modal -->
<form [formGroup]="updatePasswordForm" (ngSubmit)="submitForm()">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-danger text-center">
                    <h3 class="modal-title" id="exampleModalLabel">Change Password</h3>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label fw-bold">Current Password</label>
                        <input type="password" class="form-control" formControlName="currentPassword" required />
                        <div class="text-danger" *ngIf="
                updatePasswordForm.get('currentPassword').invalid &&
                (updatePasswordForm.get('currentPassword').dirty ||
                  updatePasswordForm.get('currentPassword').touched)
              ">
                            <div *ngIf="
                  updatePasswordForm.get('currentPassword').errors.required
                ">
                                Current password is required
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label fw-bold">New Password</label>
                        <input type="password" class="form-control" formControlName="newPassword" required />
                        <div class="text-danger" *ngIf="
                updatePasswordForm.get('newPassword').invalid &&
                (updatePasswordForm.get('newPassword').dirty ||
                  updatePasswordForm.get('newPassword').touched)
              ">
                            <div *ngIf="updatePasswordForm.get('newPassword').errors.required">
                                New password is required
                            </div>
                            <div *ngIf="updatePasswordForm.get('newPassword').errors.minlength">
                                New password must be at least 8 characters long
                            </div>
                            <div *ngIf="updatePasswordForm.get('newPassword').errors.pattern">
                                New password must contain at least one lowercase letter, one
                                uppercase letter, and one digit
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label fw-bold">Confirm New Password</label>
                        <input type="text" class="form-control" formControlName="confirmPassword" required />
                        <div class="text-danger" *ngIf="
                updatePasswordForm.get('confirmPassword').invalid &&
                (updatePasswordForm.get('confirmPassword').dirty ||
                  updatePasswordForm.get('confirmPassword').touched)
              ">
                            <div *ngIf="
                  updatePasswordForm.get('confirmPassword').errors.required
                ">
                                Confirm Password is required
                            </div>
                            <div *ngIf="
                  updatePasswordForm.get('confirmPassword').errors
                    .passwordMismatch
                ">
                                Passwords do not match.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="updatePasswordForm.invalid">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-danger text-center">
                <h3 class="modal-title" id="exampleModalLabel">Profile Details</h3>
                <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkxPRMT2ZiDmW3aKQyLV_x-qYAwsNYY1XG2W0m5YE-2Q&s"
                        alt="profile" class="rounded-circle" width="100px" />
                </div>
                <table class="table table-striped table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Username:</th>
                            <td>{{userName }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email Address:</th>
                            <td>{{emailId}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Mobile No.:</th>
                            <td>{{mobile}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>