<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-body text-center">
          <h3><i class="bi bi-shield-lock"></i></h3>
          <h2 class="text-center mb-4">Forgot Your Password?</h2>
          <p class="text-muted">Enter your email address below to reset your password.</p>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                <input formControlName="email" id="email" name="email" placeholder="Email Address" class="form-control" type="email">
              </div>
            </div>
            <div class="mb-3">
              <button name="recover-submit" class="btn btn-lg btn-primary btn-block" [disabled]="loading" type="submit">Reset Password</button>
            </div>
          </form>
          <div>
            <a routerLink="/auth/login" style="text-decoration: none;">Back to login</a>
          </div>
          <div *ngIf="submitted && !loading" class="alert alert-danger">Email not found</div>
          <div *ngIf="submitted && loading" class="alert alert-info">Verifying email...</div>
        </div>
      </div>
    </div>
  </div>
</div>
