<div class="container">
    <div class="card m-5 shadow">
        <div class="card-header text-center text-bg-primary">
            <h3>Notify Form</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="notifyForm" (ngSubmit)="onFormSubmit()">
                <div class="d-flex gap-3 flex-wrap justify-content-around row-cols-lg-3 row-cols-md-2 row-cols-md-1">
                    <div>
                        <label for="">Status</label> <span class="text-danger">*</span>
                        <select class="form-select" formControlName="notifyStatus">
                            <option value="">-Select-</option>
                            <option value="information">Information</option>
                            <option value="password">Credential</option>
                        </select>
                        <div class="text-danger"
                            *ngIf="notifyForm.get('notifyStatus').invalid && (notifyForm.get('notifyStatus').dirty || notifyForm.get('notifyStatus').touched)">
                            <div *ngIf="notifyForm.get('notifyStatus').errors.required">Status is required.</div>
                        </div>
                    </div>

                    <mat-form-field class="example-chip-list mt-2" appearance="outline">
                        <mat-label class="fw-bold">Enter Emails</mat-label>
                        <mat-chip-grid #chipGrid aria-label="User selection">
                            <mat-chip-row *ngFor="let user of users" (removed)="remove(user)">
                                {{ user }}
                                <button matChipRemove [attr.aria-label]="'remove ' + user">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                        </mat-chip-grid>
                        <input placeholder="Email Id..." #userInput [formControl]="userCtrl"
                            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                {{ user }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="notifyForm.get('selectedEmails').hasError('required')">
                            Emails are required.
                        </mat-error>
                        <mat-error *ngIf="notifyForm.get('selectedEmails').hasError('email')">
                            Please enter a valid email address.
                        </mat-error>
                    </mat-form-field>


                    <div *ngIf="notifyForm.get('notifyStatus').value === 'information'">
                        <label for="">Description</label>
                        <textarea formControlName="description" id="" cols="30" rows="2"
                            class="form-control"></textarea>
                        <div *ngIf="notifyForm.get('description').invalid && notifyForm.get('description').touched">
                            <span *ngIf="notifyForm.get('description').errors.requiredForInformation">Description is
                                required for 'information' type.</span>
                        </div>

                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <!-- {{notifyForm.value | json}} -->
</div>