<form [formGroup]="otpForm" class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Please enter the one time password <br> to verify your account</h6>
            <div> <span>A code has been sent to your registered mail </span> </div>
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                <input #otpInput formControlName="first" pattern="[0-9]*" class="m-2 text-center form-control rounded" maxlength="1" (input)="onInputChange(0, $event)">
    <input #otpInput formControlName="second" pattern="[0-9]*" class="m-2 text-center form-control rounded" maxlength="1" (input)="onInputChange(1, $event)">
    <input #otpInput formControlName="third" pattern="[0-9]*" class="m-2 text-center form-control rounded" maxlength="1" (input)="onInputChange(2, $event)">
    <input #otpInput formControlName="fourth" pattern="[0-9]*" class="m-2 text-center form-control rounded" maxlength="1" (input)="onInputChange(3, $event)">
    <input #otpInput formControlName="fifth" pattern="[0-9]*" class="m-2 text-center form-control rounded" maxlength="1" (input)="onInputChange(4, $event)">
    <input #otpInput formControlName="sixth" pattern="[0-9]*" class="m-2 text-center form-control rounded" maxlength="1" (input)="onInputChange(5, $event)">
            </div>
            
            <div class="mt-4"> <button class="btn btn-danger px-4 validate" [disabled]="otpForm.invalid" (click)="verifyOtp()">Validate</button> </div>
        </div>
    </div>
  </form>
  