<div class="container">
    <div class="card m-5 shadow">
        <div class="card-header text-center text-bg-primary">
            <h3>Assessment Form</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="assessmentData" (ngSubmit)="saveForm()">
                <input type="hidden" formControlName="assessmentId" class="form-control" />
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="moduleId">Type</label>
                        <span class="text-danger">*</span>
                        <select class="form-control" formControlName="moduleId" id="moduleId" (change)="getSubModuleByModuleId($event)">
                            <option value="">-Select-</option>
                            <option *ngFor="let module of ModuleList" [value]="module['moduleId']">
                                {{ module["moduleName"] }}
                            </option>
                        </select>

                        <div class="text-danger" *ngIf="assessmentData.get('moduleId')?.invalid &&(assessmentData.get('moduleId')?.touched ||
                assessmentData.get('moduleId')?.dirty) ">
                            <div *ngIf="assessmentData.get('moduleId')?.hasError('required')">
                                Please Select Type
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                        <label for="submoduleId">Module</label><span class="text-danger">*</span>
                        <select class="form-control" formControlName="submoduleId" id="submoduleId" (change)="getSchList($event)">
                            <option value="">-Select-</option>
                            <option class="form-select" *ngFor="let subModule of subModuleList"
                                [value]="subModule.submoduleId">
                                {{subModule.submoduleName}}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="assessmentData.get('submoduleId')?.invalid && (assessmentData.get('submoduleId')?.touched ||  assessmentData.get('submoduleId')?.dirty)">
                            <div *ngIf=" assessmentData.get('submoduleId')?.hasError('required')">Please Select Module</div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <label for="">Schedule For <span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="scheduleForId" id="scheduleForId" (change)="getSessionList($event)">
                            <option value="" selected disabled>-Select-</option>
                            <option class="form-select" *ngFor="let schedule of schedulelist"
                                [value]="schedule.SCHEDULEFORID">
                                {{ schedule.SCHEDULEFOR }}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="assessmentData.get('scheduleForId')?.invalid && (assessmentData.get('scheduleForId')?.touched ||  assessmentData.get('scheduleForId')?.dirty)">
                            <div *ngIf=" assessmentData.get('scheduleForId')?.hasError('required')">Please Select
                                Schedule</div>
                        </div>
                        
                    </div>

                    <!-- Session dropdown -->
                    <div class="col-md-3" *ngIf="assessmentData.get('radio').value === 'session'">
                        <label for="sessionId">Session For <span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="sessionId" id="sessionId">
                            <option value="" selected disabled>-Select-</option>
                            <option class="form-select" *ngFor="let session of sessionList"
                                [value]="session.sessionId">
                                {{ session.sessionName }}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="assessmentData.get('sessionId')?.invalid && (assessmentData.get('sessionId')?.touched ||  assessmentData.get('sessionId')?.dirty)">
                            <div *ngIf=" assessmentData.get('sessionId')?.hasError('required')">Please Select
                                Session</div>
                        </div>
                    </div>
                    </div>
                    <div class="row" *ngIf="assessmentId == 0">
                        <div class="col-md-4">
                            <label><input type="radio" formControlName="radio" value="schedule"  (change)="onRadioChange()" checked> Schedule For</label>&nbsp;
                            <label><input type="radio" formControlName="radio" value="session" (change)="onRadioChange()"> Session For</label>
                        </div>
                    </div>
                   
                    
                        <div *ngIf="assessmentId == 0" class="row align-items-center mt-2">
                          <div class="col-auto">
                            Switch to Bulk data upload mode
                          </div>
                          <div class="col-auto">
                            <label class="on-off-toggle">
                              <input type="checkbox" formControlName="bulkUploadMode">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                        <!-- One qsn mode-->
                    <hr>
                    <div id="oneQsnMode">
                        <p class="text-danger"><strong>Note : </strong>Here you can enter question one at a time</p>
                    <div class="row">
                    <div class="col-md-12">
                        <label class="form-label" for="">Question <span class="text-danger">*</span></label>
                        <textarea formControlName="question" class="form-control" id="question"></textarea>
                        <div class="text-danger"
                            *ngIf="assessmentData.get('question')?.invalid && (assessmentData.get('question')?.touched ||  assessmentData.get('question')?.dirty)">
                            <div *ngIf=" assessmentData.get('question')?.hasError('required')">Please Enter
                                The Question.</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="">Option 1 <span class="text-danger">*</span></label>
                        <input formControlName="option1" class="form-control" type="text" id="option1" />
                        <div class="text-danger"
                            *ngIf="assessmentData.get('option1')?.invalid && (assessmentData.get('option1')?.touched ||  assessmentData.get('option1')?.dirty)">
                            <div *ngIf=" assessmentData.get('option1')?.hasError('required')">Please Enter
                                option 1.</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="">Option 2 <span class="text-danger">*</span></label>
                        <input formControlName="option2" class="form-control" type="text" id="option2" />
                        <div class="text-danger"
                            *ngIf="assessmentData.get('option2')?.invalid && (assessmentData.get('option2')?.touched ||  assessmentData.get('option2')?.dirty)">
                            <div *ngIf=" assessmentData.get('option2')?.hasError('required')">Please Enter
                                option 2.</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="">Option 3 <span class="text-danger">*</span></label>
                        <input formControlName="option3" class="form-control" type="text" id="option3" />
                        <div class="text-danger"
                            *ngIf="assessmentData.get('option3')?.invalid && (assessmentData.get('option3')?.touched ||  assessmentData.get('option3')?.dirty)">
                            <div *ngIf=" assessmentData.get('option3')?.hasError('required')">Please Enter
                                option 3.</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Option 4 <span class="text-danger">*</span></label>
                        <input formControlName="option4" class="form-control" type="text" id="option4" />
                        <div class="text-danger"
                            *ngIf="assessmentData.get('option4')?.invalid && (assessmentData.get('option4')?.touched ||  assessmentData.get('option4')?.dirty)">
                            <div *ngIf=" assessmentData.get('option1')?.hasError('required')">Please Enter
                                option 4.</div>
                        </div>
                    </div>

                    <div>
                        <label class="form-label">Answer <span class="text-danger">*</span></label>
                        <!-- <input formControlName="answer" class="form-control" type="text" id="answer" /> -->
                        <select id="" class="form-control" formControlName="answer">
                            <option value="">-Select-</option>
                            <option *ngIf="assessmentData.get('option1').value"
                                [value]="assessmentData.get('option1').value">{{assessmentData.get('option1').value}}
                            </option>
                            <option *ngIf="assessmentData.get('option2').value"
                                [value]="assessmentData.get('option2').value">{{assessmentData.get('option2').value}}
                            </option>
                            <option *ngIf="assessmentData.get('option3').value"
                                [value]="assessmentData.get('option3').value">{{assessmentData.get('option3').value}}
                            </option>
                            <option *ngIf="assessmentData.get('option4').value"
                                [value]="assessmentData.get('option4').value">{{assessmentData.get('option4').value}}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="assessmentData.get('answer')?.invalid && (assessmentData.get('answer')?.touched ||  assessmentData.get('answer')?.dirty)">
                            <div *ngIf=" assessmentData.get('answer')?.hasError('required')">Please Select
                                the Answer.</div>
                        </div>
                    </div>
                    


                </div>
                <div class="d-flex gap-2 justify-content-center mt-5">

                    <button type="submit" class="btn btn-primary">
                        {{ assessmentData.get("assessmentId").value ? "Update" : "Save" }}
                    </button>

                    <button *ngIf="!assessmentData.get('assessmentId').value" type="reset" class="btn btn-danger">
                        Reset
                    </button>

                    <button type="button" *ngIf="assessmentData.get('assessmentId').value" class="btn btn-danger"
                        routerLink="/admin/assessment/viewAssessment">
                        Cancel
                    </button>
                </div>
                    </div>
                    <!-- <div id="bulkQsnMode">Bulk qsn</div> -->
                   
            </form>
          
            <div *ngIf="assessmentId == 0">
                <div id="bulkQsnMode">
                    <p class="text-danger"><strong>Note : </strong>Here you can enter bulk amount of question at a time</p>

                        <div class="row">
                          
                            <div class="col-md-4 mt-3">
                                <label>Upload File <span class="text-danger">*</span></label>
    
                                <input class="form-control" type="file" id="fileInput" (change)="onFileSelected($event)"
                                    accept=".xlsx" />
    
                                <!-- Validation message for upload -->
    
                                <div *ngIf="showUploadValidationMessage" class="text-danger mt-2">
                                    {{ uploadValidationMessage }}
                                </div>
                            </div>
    
                            <div class="col-md-4 mt-3">
                                <label for=""></label>
    
                                <!-- <div><i class="fas fa-download" width="16" height="16" data-toggle="tooltip" data-placement="top" title="Download the excel format" (click)="downloadExcel()"></i> </div> -->
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                        class="bi bi-download" viewBox="0
                    0 16 16" data-bs-toggle="tooltip" data-bs-placement="top" title="This is the button
                    for file downloading" (click)="downloadExcel()">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0
                    0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
    
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5
                    0 1 0-.708.708z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-2">
                            <button type="button" class="btn btn-primary" (click)="validateAndImport()">
                                Import
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>

