<div class="row m-2">
    <div class="p-2 col-lg-9 vh-100" *ngIf="selectedPdf">
        <ngx-extended-pdf-viewer [showDownloadButton]="false" [showDrawEditor]="false" [showOpenFileButton]="false"
            [showPrintButton]="false" [src]="selectedPdf" [showSecondaryToolbarButton]="false" [showTextEditor]="false">
        </ngx-extended-pdf-viewer>
    </div>

    <div class="p-2 col-lg-9 vh-100" *ngIf="selectedQuestionar">
        <div class="assessment-container">
            <h3 class="text-center">Assessment</h3>
            <form [formGroup]="questionForm">
                <p>{{ questionarList[currentQuestionIndex].question }}</p>
                <div class="options">
                    <div class="form-check mt-5">
                        <input class="form-check-input" type="radio" [formControlName]="'option'"
                            [value]="questionarList[currentQuestionIndex].option1">
                        <label class="form-check-label"
                            for="option1">{{questionarList[currentQuestionIndex].option1}}</label>
                    </div>
                    <div class="form-check mt-5">
                        <input class="form-check-input" type="radio" [formControlName]="'option'"
                            [value]="questionarList[currentQuestionIndex].option2">
                        <label class="form-check-label"
                            for="option2">{{questionarList[currentQuestionIndex].option2}}</label>
                    </div>
                    <div class="form-check mt-5">
                        <input class="form-check-input" type="radio" [formControlName]="'option'"
                            [value]="questionarList[currentQuestionIndex].option3">
                        <label class="form-check-label"
                            for="option3">{{questionarList[currentQuestionIndex].option3}}</label>
                    </div>
                    <div class="form-check mt-5">
                        <input class="form-check-input" type="radio" [formControlName]="'option'"
                            [value]="questionarList[currentQuestionIndex].option4">
                        <label class="form-check-label"
                            for="option4">{{questionarList[currentQuestionIndex].option4}}</label>
                    </div>
                </div>
                <div class="buttons mt-5">
                    <button type="button" class="btn btn-danger" (click)="previousQuestion()"
                        *ngIf="currentQuestionIndex > 0">Back</button>
                    <button type="button" class="btn btn-primary m-lg-2" (click)="nextQuestion()"
                        *ngIf="currentQuestionIndex < questionarList.length - 1">Next</button>
                    <button type="button" class="btn btn-success m-lg-2" (click)="submitAssessment()"
                        *ngIf="currentQuestionIndex === questionarList.length - 1">Submit</button>
                </div>
            </form>
        </div>
    </div>



    <div class="p-2 col-lg-9 vh-100" *ngIf="selectedVideo">
        <video class="w-100" height="360" poster="../../../../assets/images/csm logo.jpg" (play)="onPlay()"
            (pause)="onPause()" (ended)="onEnded()" controls controlsList="nodownload" disablePictureInPicture>
            <source [src]="selectedVideo" type="video/mp4">
        </video>
        <div class="video-title mb-3">
            <h4>{{ sessionName }}</h4>
        </div>
        <div class="d-flex justify-content-between">
            <div class="text-danger">
                <h6><strong>Author : {{authorName}}</strong></h6>
            </div>
            <div>
                <div class="star-rating align-items-center">
                    <span class="fs-5">Give Feedback </span>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(1)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(2)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(3)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(4)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(5)"></i>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="accordion" id="videoAccordion">
                <div class="accordion-item">
                    <h6 class="accordion-header" id="videoDescriptionHeading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#videoDescription" aria-expanded="false" aria-controls="videoDescription">
                            <h5>Description</h5>
                        </button>
                    </h6>
                    <div id="videoDescription" class="accordion-collapse collapse"
                        aria-labelledby="videoDescriptionHeading" data-bs-parent="#videoAccordion">
                        <div class="accordion-body">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- <div class="col-lg-3 d-flex gap-4 flex-column  overflow-y-scroll vh-100" style="cursor: pointer;">
        <span class="text-center text-bg-primary p-1 rounded">{{firstRecord?.scheduleFor.scheduleForName}}</span>
        <div class=" d-flex flex-column gap-1" *ngFor="let file of materialList">
            <div class="d-flex gap-1 border rounded" (click)="showMaterial(file.video,file)">
                <div class="col-3">
                    <img src="https://addplaybuttontoimage.way4info.net/Images/Icons/22.png" width="50" alt=""
                        style="object-fit: cover; height: fit-content;" class="p-1">
                </div>
                <div class="col-9 p-1 d-flex align-items-center">
                    <a>{{ file.sessionName }}</a>
                </div>
            </div>

            <div (click)="showMaterial(file.document,file)" class="text-bg-secondary px-1 border rounded">
                <span>{{file.document}}</span>
            </div>
        </div>
    </div> -->
    <div class="col-lg-3 d-flex gap-4 flex-column overflow-y-scroll vh-100 ">
        <span class="text-center text-bg-primary p-1 rounded" title="{{ firstRecord?.scheduleFor.scheduleForName }}">
            {{ (firstRecord?.scheduleFor.scheduleForName?.length > 25) ? (firstRecord?.scheduleFor.scheduleForName |
            slice: 0:25) + "..." : firstRecord?.scheduleFor.scheduleForName }}
        </span>
        <div class="d-flex flex-column gap-1" *ngFor="let file of materialList" style="cursor: pointer;">
            <div class="d-flex gap-1 border rounded" (click)="showMaterial(file.video, file)">
                <div class="col-3">
                    <img src="https://addplaybuttontoimage.way4info.net/Images/Icons/22.png" width="50" alt=""
                        style="object-fit: cover; height: fit-content;" class="p-1">
                </div>
                <div class="col-9 p-1 d-flex align-items-center">
                    <a [title]="file.sessionName">
                        {{ (file.sessionName?.length > 25) ? (file.sessionName | slice: 0:25) + "..." : file.sessionName
                        }}
                    </a>
                </div>
            </div>

            <div (click)="showMaterial(file.document, file)" class="text-bg-secondary px-1 border rounded"
                style="cursor: pointer;">
                <span>{{ file.document }}</span>
            </div>

            <div (click)="showQuestionar(file.sessionId)" class="text-bg-success px-1 border rounded"
                style="cursor: pointer;">
                <span>Questionar</span>
            </div>
        </div>
    </div>



</div>