::-webkit-scrollbar {
  width: 10px;
  /* Change width of the scrollbar */
}

/* Style the track (the background area) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Change track color */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Change thumb color */
  border-radius: 5px;
  /* Add rounded corners */
}


.star-rating {
  display: flex;
}

.star-rating i {
  font-size: 20px;
  /* Adjust font size as needed */
  cursor: pointer;
  margin: 0 5px;
}

.star-unselected {
  color: #ccc;
  /* Unselected star color */
}

.star-selected {
  color: gold;
  /* Selected star color */
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}

/* 
.question-map {
  min-width: 100px;
  width: auto;
  max-height: 420px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.question-marker {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px auto;
  color: white;
}


.not-visited {
  background-color: gray;
}

.skipped {
  background-color: red;
}

.answered {
  background-color: green;
} */

.question-map {
  /* min-width: 120px; */
  width: auto;
  max-height: 490px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  column-gap: 3px;
}

/* Styles for screens that are between 576px and 767px wide */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .question-map {
    max-height: 490px;
    column-gap: 5px;
  }
}


.question-marker {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px auto;
  /* Change this line */
  color: white;
}

.not-visited {
  background-color: gray;
}

.skipped {
  background-color: red;
}

.answered {
  background-color: green;
}