
::-webkit-scrollbar {
    width: 10px; /* Change width of the scrollbar */
  }
  
   /* Style the track (the background area) */
   ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Change thumb color */
    border-radius: 5px; /* Add rounded corners */
  }
  
  
  .star-rating {
  display: flex;
}

.star-rating i {
  font-size: 20px; /* Adjust font size as needed */
  cursor: pointer;
  margin: 0 5px;
}

.star-unselected {
  color: #ccc; /* Unselected star color */
}

.star-selected {
  color: gold; /* Selected star color */
}


