<div class="row m-2">
    <div class="p-2 col-lg-9 vh-100" *ngIf="selectedPdf">
        <ngx-extended-pdf-viewer [showDownloadButton]="false" [showDrawEditor]="false" [showOpenFileButton]="false"
            [showPrintButton]="false" [src]="selectedPdf" [showSecondaryToolbarButton]="false" [showTextEditor]="false">
        </ngx-extended-pdf-viewer>
    </div>

    <div class="p-2 col-lg-9 vh-100" *ngIf="selectedQuestionar && questionarList && questionarList.length > 0">
        <div class="card shadow">
            <div class="card-header">
                <h3 class="text-center">Assessment</h3>
            </div>
            <div class="card-body d-flex gap-5 justify-content-between">
                <div>
                    <form [formGroup]="questionForm">
                        <p>Q.{{ currentQuestionIndex + 1 }} : {{ questionarList[currentQuestionIndex].question }}</p>
                        <div class="options">
                            <div class="form-check mt-5">
                                <input class="form-check-input" type="radio" [formControlName]="'option'"
                                    [value]="questionarList[currentQuestionIndex].option1">
                                <label class="form-check-label"
                                    for="option1">{{questionarList[currentQuestionIndex].option1}}</label>
                            </div>
                            <div class="form-check mt-5">
                                <input class="form-check-input" type="radio" [formControlName]="'option'"
                                    [value]="questionarList[currentQuestionIndex].option2">
                                <label class="form-check-label"
                                    for="option2">{{questionarList[currentQuestionIndex].option2}}</label>
                            </div>
                            <div class="form-check mt-5">
                                <input class="form-check-input" type="radio" [formControlName]="'option'"
                                    [value]="questionarList[currentQuestionIndex].option3">
                                <label class="form-check-label"
                                    for="option3">{{questionarList[currentQuestionIndex].option3}}</label>
                            </div>
                            <div class="form-check mt-5">
                                <input class="form-check-input" type="radio" [formControlName]="'option'"
                                    [value]="questionarList[currentQuestionIndex].option4">
                                <label class="form-check-label"
                                    for="option4">{{questionarList[currentQuestionIndex].option4}}</label>
                            </div>
                        </div>
                        <div class="buttons mt-5">
                            <button type="button" class="btn btn-danger" (click)="previousQuestion()"
                                *ngIf="currentQuestionIndex > 0">Back</button>
                            <button type="button" class="btn btn-primary m-lg-2" (click)="nextQuestion()"
                                *ngIf="currentQuestionIndex < questionarList.length - 1">Next</button>
                            <button type="button" class="btn btn-success m-lg-2" (click)="submitAssessment()"
                                *ngIf="currentQuestionIndex === questionarList.length - 1">Submit</button>
                        </div>
                    </form>
                </div>

                <!-- <div class="question-map">
                    <div class="question-marker" *ngFor="let question of questionarList; let i = index" [ngClass]="{
                           'not-visited': !questionStatusList[i] || questionStatusList[i] === 'not-visited',
                           'skipped': questionStatusList[i] === 'skipped',
                           'answered': questionStatusList[i] === 'answered'
                         }" (click)="showQuestion(question)">
                        {{ i + 1 }}
                    </div>
                </div> -->
                <div class="question-map">
                    <div class="column">
                        <!-- First column of question markers -->
                        <div class="question-marker"
                            *ngFor="let question of questionarList.slice(0, getSplitIndex()); let i = index" [ngClass]="{
                            'not-visited': !questionStatusList[i] || questionStatusList[i] === 'not-visited',
                            'skipped': questionStatusList[i] === 'skipped',
                            'answered': questionStatusList[i] === 'answered'
                            }" (click)="showQuestion(question)">
                            {{ i + 1 }}
                        </div>
                    </div>
                    <div class="column">
                        <!-- Second column of question markers -->
                        <div class="question-marker"
                            *ngFor="let question of questionarList.slice(getSplitIndex()); let i = index" [ngClass]="{
                            'not-visited': !questionStatusList[i + getSplitIndex()] || questionStatusList[i + getSplitIndex()] === 'not-visited',
                            'skipped': questionStatusList[i + getSplitIndex()] === 'skipped',
                            'answered': questionStatusList[i + getSplitIndex()] === 'answered'
                            }" (click)="showQuestion(question)">
                            {{ i + getSplitIndex() + 1 }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="p-2 col-lg-9 vh-100" *ngIf="selectedVideo">
        <video class="w-100" height="360" poster="../../../../assets/images/csm logo.jpg" (play)="onPlay()"
            (pause)="onPause()" (ended)="onEnded()" controls controlsList="nodownload" disablePictureInPicture>
            <source [src]="selectedVideo" type="video/mp4">
        </video>
        <div class="video-title mb-3">
            <h4>{{ sessionName }}</h4>
        </div>
        <div class="d-flex justify-content-between">
            <div class="text-danger">
                <h6><strong>Author : {{authorName}}</strong></h6>
            </div>
            <div>
                <div class="star-rating align-items-center">
                    <span class="fs-5">Give Feedback </span>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(1)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(2)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(3)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(4)"></i>
                    <i class="fas fa-star star-unselected" (click)="rateVideo(5)"></i>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="accordion" id="videoAccordion">
                <div class="accordion-item">
                    <h6 class="accordion-header" id="videoDescriptionHeading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#videoDescription" aria-expanded="false" aria-controls="videoDescription">
                            <h5>Description</h5>
                        </button>
                    </h6>
                    <div id="videoDescription" class="accordion-collapse collapse"
                        aria-labelledby="videoDescriptionHeading" data-bs-parent="#videoAccordion">
                        <div class="accordion-body">
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-3 d-flex gap-4 flex-column overflow-y-auto vh-100 ">
        <span class="text-center text-bg-primary p-1 rounded" title="{{ firstRecord?.scheduleFor.scheduleForName }}">
            {{ (firstRecord?.scheduleFor.scheduleForName?.length > 25) ? (firstRecord?.scheduleFor.scheduleForName |
            slice: 0:25) + "..." : firstRecord?.scheduleFor.scheduleForName }}
        </span>
        <div class="d-flex flex-column gap-1" *ngFor="let file of materialList" style="cursor: pointer;">
            <div class="d-flex gap-1 border rounded" (click)="showMaterial(file.video, file)"
                [ngClass]="{'disabled': !file.accessStatus}">
                <div class="col-3">
                    <img src="https://addplaybuttontoimage.way4info.net/Images/Icons/22.png" width="50" alt=""
                        style="object-fit: cover; height: fit-content;" class="p-1">
                </div>
                <div class="col-9 p-1 d-flex align-items-center">
                    <a [title]="file.sessionName" [ngClass]="{'disabled': !file.accessStatus}">
                        {{ (file.sessionName?.length > 25) ? (file.sessionName | slice: 0:25) + "..." : file.sessionName
                        }}
                    </a>
                </div>
            </div>

            <div (click)="showMaterial(file.document, file)" class="text-bg-secondary px-1 border rounded"
                style="cursor: pointer;" [ngClass]="{'disabled': !file.accessStatus}">
                <span>{{ file.document }}</span>
            </div>

            <div *ngIf="file.hasQuestions" (click)="showQuestionar(file.sessionId, file.resultStatus)"
                [ngClass]="{'disabled': !file.accessStatus}"
                class="text-bg-success px-1 border rounded d-flex justify-content-between" style="cursor: pointer;">
                <span>Questionnaire</span>
                <div>
                    <i class="fas fa-check-circle" *ngIf="file.resultStatus"
                        title="You have already completed this questionnaire"></i>
                </div>
            </div>
            <div *ngIf="file.hasQuestions" [ngClass]="{'disabled': !file.accessStatus}" style="cursor: pointer;"
                class=" bg-light px-1 border rounded">
                <a href="" class="dropdown-item profile-anchor" data-bs-toggle="modal"
                    data-bs-target="#assessmentDeatilsModal"
                    (click)="getResultStatus(file.sessionId ,file.scheduleFor.scheduleForId)">
                    <span>View Assessment Details</span>
                </a>
            </div>
        </div>
        <!-- Conditionally display "Download PDF" section if all questionnaires have been passed -->
        <div *ngIf="allQuestionnairesPassed()">
            <div class="text-bg-danger px-1 border rounded text-center" style="cursor: pointer;"
                (click)="downloadPDF()">
                <span>Download Certificate</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="assessmentDeatilsModal" tabindex="-1" aria-labelledby="assessmentDeatilsModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="assessmentDetailsModal" class="text-success text-center">Assessment Details
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>{{ resultStatus[0]?.sessionMaster.sessionName }}</h6>
                <ul>
                    <ng-container *ngFor="let result of resultStatus; let i = index">
                        <li
                            [ngClass]="{'text-success': result.statusOfResult == 1, 'text-danger': result.statusOfResult == 0}">
                            Attempt {{ i + 1 }} - {{ result.percentage }}%
                            <span *ngIf="result.statusOfResult == 1">✓</span>
                            <span *ngIf="result.statusOfResult == 0">✗</span>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="resultStatus && resultStatus.length === 0">
                        <li class="text-danger">No attempts</li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>