<div class="container mb-2">
    <div class="card">
        <div class="card-header text-center text-bg-primary">
            <h3>Sub-Module Details</h3>
        </div>
        <div class="">

            <div class="table-responsive p-1">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sl.No</th>

                            <th>Module Name</th>

                            <th>Sub-Module Name</th>

                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let submodule of inductionList
                        | paginate : {
           itemsPerPage: tableSize,
           currentPage: page,
           totalItems: count
         }
         ; 
         let i = index;">
                            <td>{{ i + 1 }}</td>

                            <td>{{ submodule.MODULENAME }}</td>

                            <td>{{ submodule.SUBMODULENAME }}</td>

                            <!-- <td>{{induction.SUP_SUB_MODULE_NAME}}</td>

        <td>{{induction.INDUCTION_FORMAT}}</td>

        <td><a routerLink="/dashboard/viewInduction">{{induction.INDUCTION_PATH}}</a></td> -->

                            <!-- <td><button class="btn btn-success" (click)="downloadFile(emp.file)"></button></td> -->

                            <td>
                                <button class="btn btn-success" (click)="edit(submodule.SUBMODULEID)">
                                    Edit</button>&nbsp;

                                <button class="btn btn-danger" (click)="deleteSubModule(submodule.SUBMODULEID)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end" id="pagination" *ngIf="inductionList">
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                    (pageChange)="getTableDataChange($event)"></pagination-controls>
            </div>
        </div>
    </div>