<div class="container mb-2">
    <div class="card">
        <div class="card-header text-center text-bg-primary">
            <h3>Sub-Module Details</h3>
        </div>
        <div class="">
            <div class="table-responsive p-1">
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Sl.No</th>

                            <th>Module Name</th>

                            <th>Sub-Module Name</th>

                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="
                let submodule of inductionList
                  | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              ">
                            <td>{{ (page - 1) * tableSize + i + 1}}</td>

                            <td>{{ submodule.MODULENAME }}</td>

                            <td>{{ submodule.SUBMODULENAME }}</td>

                            <!-- <td>{{induction.SUP_SUB_MODULE_NAME}}</td>

        <td>{{induction.INDUCTION_FORMAT}}</td>

        <td><a routerLink="/dashboard/viewInduction">{{induction.INDUCTION_PATH}}</a></td> -->

                            <!-- <td><button class="btn btn-success" (click)="downloadFile(emp.file)"></button></td> -->

                            <td>
                                <div class="d-flex gap-3">
                                    <i (click)="edit(submodule.SUBMODULEID)"
                                        class="fa-solid fa-pen-to-square text-primary" style="cursor: pointer"></i>
                                    <i (click)="deleteSubModule(submodule.SUBMODULEID)"
                                        class="fa-solid fa-trash text-danger" style="cursor: pointer"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end" id="pagination" *ngIf="inductionList">
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                    (pageChange)="getTableDataChange($event)"></pagination-controls>
            </div>

           

           
        </div>
    </div>
</div>