<div class="big-wrapper light">
    <img src="./img/shape.png" alt="jkhgf" class="shape" />
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">LMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-1 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/auth">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="showcase-area">
        <div class="container m-5">
            <div class="left">
                <div class="big-title">
                    <h1>Future is here,</h1>
                    <h1>Start Exploring now.</h1>
                </div>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Delectus eius distinctio odit, magni magnam qui ex perferendis
                    vitae!
                </p>
                <div class="cta">
                    <a href="#" class="btn">Get started</a>
                </div>
            </div>

            <div class="right">
                <img src="assets/images/homeimg.png" alt="Person Image" class="person" />
            </div>
        </div>
    </div>