label{
    font-weight: bold;
}

span{
  font-weight: bold;
}

/* input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border-color: red;
} */

input.ng-valid,select.ng-valid{
    border-color: green;
}

  