<div class="container">
    <div class="card m-5 shadow">
        <div class="card-header text-center text-bg-primary">
            <h3>Schedule Form</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="scheduleForm" (ngSubmit)="onFormSubmit()">
                <div class="d-flex gap-3 flex-wrap justify-content-around row-cols-lg-3 row-cols-md-2 row-cols-md-1">

                    <div>
                        <label class="form-label" for="scheduleForName">Schedule Name</label><span
                            class="text-danger">*</span>
                        <input formControlName="scheduleForName" class="form-control" type="text"
                            id="scheduleForName" />
                        <div class="text-danger"
                            *ngIf="scheduleForm.get('scheduleForName')?.invalid && (scheduleForm.get('scheduleForName')?.touched ||  scheduleForm.get('scheduleForName')?.dirty)">
                            <div *ngIf=" scheduleForm.get('scheduleForName')?.hasError('required')">Please Enter
                                Schedule Name</div>
                        </div>
                    </div>

                    <div formGroupName="subModule">
                        <label class="form-label" for="submoduleId">Sub Module</label><span class="text-danger">*</span>
                        <select class="form-select" formControlName="submoduleId" id="submoduleId">
                            <option value="" selected>-Select-</option>
                            <option class="form-select" *ngFor="let subModule of subModuleList"
                                [value]="subModule.submoduleId">
                                {{subModule.submoduleName}}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="scheduleForm.get('subModule.submoduleId')?.invalid && (scheduleForm.get('subModule.submoduleId')?.touched ||  scheduleForm.get('subModule.submoduleId')?.dirty)">
                            <div *ngIf=" scheduleForm.get('subModule.submoduleId')?.hasError('required')">Please Choose
                                a
                                Submodule</div>
                        </div>
                    </div>

                    <div formGroupName="author">
                        <label class="form-label" for="authId">Author</label><span class="text-danger">*</span>
                        <select class="form-select" formControlName="authId" id="authId">
                            <option value="" selected>-Select-</option>
                            <option class="form-select" *ngFor="let author of authorList" [value]="author.authId">
                                {{author.authName}}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="scheduleForm.get('author.authId')?.invalid && (scheduleForm.get('author.authId')?.touched ||  scheduleForm.get('author.authId')?.dirty)">
                            <div *ngIf=" scheduleForm.get('author.authId')?.hasError('required')">Please Choose
                                Author</div>
                        </div>
                    </div>

                    <div formGroupName="technology">
                        <label class="form-label" for="techId">Technology</label><span class="text-danger">*</span>
                        <select class="form-select" formControlName="techId" id="techId">
                            <option value="" selected>-Select-</option>
                            <option class="form-select" *ngFor="let technology of technologyList"
                                [value]="technology.techId">
                                {{technology.techName}}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="scheduleForm.get('technology.techId')?.invalid && (scheduleForm.get('technology.techId')?.touched ||  scheduleForm.get('technology.techId')?.dirty)">
                            <div *ngIf=" scheduleForm.get('technology.techId')?.hasError('required')">Please Choose
                                Technology
                            </div>
                        </div>
                    </div>

                    <div>
                        <label class="form-label" for="noOfSession">No Of Session</label><span
                            class="text-danger">*</span>
                        <input formControlName="noOfSession" class="form-control" type="text" id="noOfSession" />
                        <div class="text-danger"
                            *ngIf="scheduleForm.get('noOfSession')?.invalid && (scheduleForm.get('noOfSession')?.touched ||  scheduleForm.get('noOfSession')?.dirty)">
                            <div *ngIf=" scheduleForm.get('noOfSession')?.hasError('required')">Please Enter no of
                                Sessions
                            </div>
                            <div *ngIf=" scheduleForm.get('noOfSession')?.hasError('pattern')">Enter Valid Session
                            </div>
                        </div>
                    </div>

                    <div>
                        <label class="form-label" for="noOfHours">No Of Hours</label><span class="text-danger">*</span>
                        <input formControlName="noOfHours" class="form-control" type="text" id="noOfHours" />
                        <div class="text-danger"
                            *ngIf="scheduleForm.get('noOfHours')?.invalid && (scheduleForm.get('noOfHours')?.touched ||  scheduleForm.get('noOfHours')?.dirty)">
                            <div *ngIf=" scheduleForm.get('noOfHours')?.hasError('required')">Please Enter no of
                                Hours
                            </div>
                            <div *ngIf=" scheduleForm.get('noOfHours')?.hasError('pattern')">Enter Valid Hours
                            </div>
                        </div>
                    </div>

                    <!--  <div>
                        <label class="form-label">Assessment</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" formControlName="isAssessmentPrepared">
                            <label class="form-check-label">Is Assessment</label>
                        </div>
                    </div> -->


                    <div class="d-flex gap-2 justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary"> {{ scheduleForm.get('scheduleForId').value ?
                            'Update' : 'Save' }}</button>
                        <button *ngIf="!scheduleForm.get('scheduleForId').value" type="reset"
                            class="btn btn-danger">Reset</button>
                        <button type="button" *ngIf="scheduleForm.get('scheduleForId').value" class="btn btn-danger"
                            routerLink="/admin/schedule/viewSchedule">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>